.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
runs/
wandb/
kaggle/working/
datasets/raw/
*.pt
*.zip
test_draw.png

preprocessing/source_yolo/
preprocessing/label_validation/
preprocessing/*.csv

!preprocessing/README.md
!preprocessing/preprocessing_summary.md
